body{
	margin: 0;
	width:100%;
	background-color:rgb(240,240,240);
	height:100%;
}

header{
	width:100%;
	height:70px;
	background-color:white;
	border-bottom: 1px solid rgb(210,210,210);
	position:fixed;
	top:0px;
	z-index:10;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.insta-icons{
	width:25px;
	height:25px;
	background-color:rgb(120,120,120);
	border:10px solid white;
	border-top:22px solid white;
	border-bottom:22px solid white;
	cursor:pointer;
	display:inline-block;
	min-width:25px;
}

.insta{
	width:100px;
	height:25px;
	background-color:rgb(170,170,170);
	margin:0;
	border:10px solid white;
	border-top:22px solid white;
	border-bottom:22px solid white;
	cursor:pointer;
	display:inline-block;
}

.search-bar{
	width:200px;
	height:25px;
	background-color:rgb(200,200,200);
	border:10px solid white;
	border-top:22px solid white;
	border-bottom:22px solid white;
	cursor:text;
	display:inline-block;
}

.info-box{
	background-color:rgb(240,240,240);
	height: 20vw;
	width:65vw;
	margin:auto;
	margin-top:140px;
	overflow:hidden;
}

.dp{
	height:12vw;
	width:12vw;
	border-radius:50%;
	background-color:rgb(100,100,100);
	float:left;
	display:inline-block;
	cursor:pointer;
}

.details{
	height:12vw;
	width:45vw;
	background-color:rgb(240,240,240);
	display:inline-block;
	border-left:5vw solid rgb(240,240,240);
	cursor:text;
}
.name, .op1, .op2{
    background-color:rgb(170,170,170);
	display:inline-block;
}
.name{
	height:18%;
	width:30%;
}

.op1{
	height:18%;
	width:17%;
	border-left:5vw solid rgb(240,240,240);
}

.op2{
	height:18%;
	width:10%;
	border-left:5px solid rgb(240,240,240);
}

table.photos{
	margin: auto;
	border:0;
}

table.photos td{
	width:290px;
	height:290px;
	border:10px solid rgb(240,240,240);
	background-color:rgb(240,240,240);
	opacity: 1;
	cursor:pointer;
}

table.photos td:hover{
	opacity:0.7;
    transition-delay: 0.2s ease;
}

.more{
	margin:30px auto;
	margin-bottom:80px;
	background-color:rgb(190,190,190);
	width:200px;
	height:40px;
	cursor:pointer;
	border-radius:10%;
}

.mbox {
    display: none; 
    position: fixed; 
    z-index: 20; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.mbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
	cursor:pointer;
}

footer{
	height:70px;
	width:75%;
	background-color:rgb(240,240,240);
	border-top: 1px solid rgb(210,210,210);
	bottom:0px;
	margin:auto;
}

.bottom-bar{
	height:50px;
	width:100%;
	background-color:white;
	border-top: 1px solid rgb(210,210,210);
	visibility:hidden;
	position:fixed;
	bottom:0px;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.bottom-bar-icon{
	width:40px;
	height:40px;
	background-color:rgb(120,120,120);
	display:inline-block;
	cursor:pointer;
}

@media only screen and (max-width:945px){
	    
	table.photos{
		width:100%;
		margin: 0 auto;
		border: 0;
}

    table.photos td{
	border: 10px solid rgb(240,240,240);
	width:32vw;
	height: 32vw;
}

table.heading2{
	visibility:visible;
}
}


